.pdfPreviewContainer {
  margin: auto;
  padding: 1%;
}

.pdfPreview {
  height: 90vh;
}

.img {
  width: 100%;
  height: 100%;
}

.imgBtn {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  /* border: 1px solid rebeccapurple; */
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.zoom {
  float: left;
}

/* .pagination {
  clear: both;
  float: right;
} */
