.cardFrameProgress {
  height: 30vh;
  width: 30vw;
  align-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  padding-top: 8vh;
  background: rgb(255, 250, 250);
  background: linear-gradient(
    90deg,
    rgba(255, 250, 250, 1) 0%,
    rgba(224, 223, 251, 1) 60%,
    rgba(199, 201, 250, 1) 100%
  );
  min-width: 200px;
  min-height: 220px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
